.products-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.product-list {
  margin: 1%;
  width: 50rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 1%;
}

.product-item {
  display: flex;
  justify-content: space-between;
  padding: 2%;
  font-size: 1.2rem;
  color: green;
  gap: 1rem;
  align-items: center;
}

.product-image {
  width: 6rem;
}

.product-image img {
  width: 100%;
  height: 5rem;
  object-fit: cover;
  border-radius: 20px 15px;
}
.product-title {
  width: 20%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.finalSum {
  background-color: green !important;
  /* background-color: rgb(110, 155, 21); */
  color: aliceblue;

  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25rem;
  /* margin: 1%; */
  height: 86vh;
}

.finalSum > span {
  padding-bottom: 5%;
}

.title {
  font-size: 0.8rem;
}

button {
  border: none;
  overflow: hidden;
}

/* --------------------------------------------------------- */
.cart_btns {
  display: flex;
  align-items: center;
  width: 30%;
  gap: 0.3rem;
}
.cart_btns h4 {
  width: 20%;
  font-size: 0.9rem;
  margin: 0 !important;
  text-align: center;
}

.cart_btns button {
  font-size: 0.9rem;
  background-color: green;
  color: white;
  width: 40%;
  padding: 0.2rem 0;
  border-radius: 10px;
  cursor: pointer;

  /* margin: 0 1rem; */
}

.cart_btns button:hover {
  background-color: darkgreen;
}
.pro-price {
  width: 15%;
  font-size: 0.9rem;
}
.delContainer {
  width: 15%;
}

#del {
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
}
#del svg {
  font-size: 1.4rem;
}

#check {
  background-color: orange;
  color: white;
  border-radius: 10px;
  padding: 0.3rem;
  width: min(100% - 3%, 200px);
  /* padding: 0.5rem; */
}
@media only screen and (max-width: 550px) {
  .products-container {
    flex-direction: column;
  }
  .product-list {
    width: 100%;
  }
  .finalSum {
    width: 100%;
    height: 40vh;
  }
}
