#signin {
  width: 100%;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  background-color: rgb(248, 255, 248);
  /* background-color: rgba(178, 237, 69, 0.473); */
}

#signin-f {
  width: min(100% - 3%, 650px);

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  gap: 0.5rem;
  background-color: rgb(110, 155, 21);
  border-radius: 20px;
  padding: 2%;
  padding-bottom: 10%;
}

input {
  width: 100%;
  padding: 2%;
  font-size: 0.9rem;
  background-color: white;
  border: none;
  outline: none;
  border-radius: 10px;
  /* margin-bottom: 4%; */
}
#signin-f button {
  width: 7rem;
  padding: 0.5rem 0;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: white;
  font-size: 0.9rem;
  border-radius: 10px;
  transition: 0.5s;
}

#signin-f button:hover {
  transition: 0.5s;
  box-shadow: 0 0 0 100vmax rgba(178, 237, 69, 0.473);
  background-color: rgb(49, 100, 61);
  color: white;
}
