.detail {
  margin: 5% auto;
  width: 500px;
  height: 500px;
  background-color: rgb(146, 146, 130);
  background-color: rgb(218, 223, 216);

  border-radius: 10px;
}

.detail h5 {
  padding: 1.5rem;
}

.detail article {
  margin-top: 2rem;
  margin-left: 1rem;
  border: 1px solid green;
}
